body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    color: #ff6347;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s;
}

.card:active {
    transform: scale(0.95);
}

.card.flipped {
    background-color: powderblue;
}

.hidden {
    visibility: hidden;
}
